### Network Structure from daily close price

#### This slide shows the result of implementing Bayesian Network on stock prices. I used numpy and pandas on daily close prices of S&P500 companies and a few daily economic data available from FRB. 
1. I omitted 5 stocks that significantly reduced available timepoints of data such as `Corteva` with ticker symbol`CTVA`. `Corteva` was founded in 2019.
2. Data used for creating this output consist mainly of daily close prices from `2011-11-11` to `2019-12-31`.
3. For each row, I ranked the most valuable edge. For example. `MS_child` has `BAC_parent` in the first column, `JPM_parent` in the second column, and `GS_parent` in the third column. This means that my model believes `Morgan Stanley` was the closest stock to `Bank of America`, then `JP Morgan` and then `Goldman Sachs`. 
4. I approximated the score function so it took `1 minute` to run the model on my personal laptop

In [16]:
import pandas as pd
df = pd.read_csv('contribution_rank.csv',index_col=0)
df.loc['MSFT_child':'MS_child']

,0,1,2,3,4,5,6,7,8,9,...,516,517,518,519,520,521,522,523,524,525
MSFT_child,MA_parent,V_parent,GOOGL_parent,GOOG_parent,ADBE_parent,AMZN_parent,CRM_parent,INTU_parent,SNPS_parent,ACN_parent,...,ANET_parent,MU_parent,UA_parent,UAA_parent,TWTR_parent,NVDA_parent,AMD_parent,VXDCLS_parent,VIXCLS_parent,MSFT_parent
MAA_child,UDR_parent,AIV_parent,AVB_parent,EQR_parent,ESS_parent,O_parent,ARE_parent,DRE_parent,PLD_parent,WELL_parent,...,NVDA_parent,ANET_parent,NWL_parent,AMD_parent,UAA_parent,ALGN_parent,UA_parent,VXDCLS_parent,VIXCLS_parent,MAA_parent
MHK_child,FBHS_parent,MAS_parent,LEG_parent,SWK_parent,WRK_parent,EMN_parent,AOS_parent,FB_parent,ITW_parent,PKG_parent,...,DCOILBRENTEU_parent,LNT_parent,UHS_parent,GOLDAMGBD228NLBM_parent,SO_parent,DTB3_parent,DGS3MO_parent,VXDCLS_parent,VIXCLS_parent,MHK_parent
TAP_child,UNM_parent,MDLZ_parent,KO_parent,GILD_parent,BF-B_parent,PFG_parent,GIS_parent,EL_parent,PRU_parent,L_parent,...,DAAA_parent,MKTX_parent,DGS3MO_parent,DTB3_parent,DEXJPUS_parent,TB1YR_parent,AMD_parent,VXDCLS_parent,VIXCLS_parent,TAP_parent
MDLZ_child,PEP_parent,GIS_parent,CL_parent,K_parent,HSY_parent,PG_parent,KMB_parent,KO_parent,MKC_parent,SJM_parent,...,UA_parent,ALGN_parent,NVDA_parent,COTY_parent,MU_parent,NWL_parent,AMD_parent,VXDCLS_parent,VIXCLS_parent,MDLZ_parent
MNST_child,MTD_parent,PEP_parent,PAYX_parent,MDLZ_parent,MSFT_parent,PKI_parent,ACN_parent,V_parent,BLK_parent,KO_parent,...,DBAA_parent,DCOILBRENTEU_parent,GOLDPMGBD228NLBM_parent,DEXSDUS_parent,DEXUSUK_parent,GOLDAMGBD228NLBM_parent,AMD_parent,VXDCLS_parent,VIXCLS_parent,MNST_parent
MCO_child,SPGI_parent,MA_parent,V_parent,MSCI_parent,ACN_parent,MSFT_parent,TROW_parent,BLK_parent,AXP_parent,INTU_parent,...,ANET_parent,UAA_parent,UA_parent,MU_parent,TWTR_parent,NVDA_parent,AMD_parent,VXDCLS_parent,VIXCLS_parent,MCO_parent
MS_child,BAC_parent,JPM_parent,GS_parent,C_parent,LNC_parent,RJF_parent,KEY_parent,PRU_parent,PNC_parent,CFG_parent,...,HSY_parent,DEXUSUK_parent,ATO_parent,CCI_parent,PPL_parent,UAA_parent,AMD_parent,VXDCLS_parent,VIXCLS_parent,MS_parent

#### I will present a few other sample outcomes below:

In [48]:
labels = pd.read_csv('./data/stock_label.csv',index_col=0)

### 1. Microsoft, `MSFT`

In [97]:
stock = 'MSFT'
parents = df.loc[f'{stock}_child',:].str.split('_').apply(lambda x: x[0]).values[:5]
print(f'stocks closest to {stock} are: ')
labels[labels['Symbol'].isin(parents)]

stocks closest to MSFT are:

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
6,ADBE,Adobe Systems Inc,reports,Information Technology,Application Software,"San Jose, California",1997-05-05,796343,1982
24,GOOGL,Alphabet Inc Class A,reports,Communication Services,Interactive Media & Services,"Mountain View, California",2014-04-03,1652044,1998
25,GOOG,Alphabet Inc Class C,reports,Communication Services,Interactive Media & Services,"Mountain View, California",2006-04-03,1652044,1998
310,MA,Mastercard Inc.,reports,Information Technology,Data Processing & Outsourced Services,"Harrison, New York",2008-07-18,1141391,NaN
474,V,Visa Inc.,reports,Information Technology,Data Processing & Outsourced Services,"San Francisco, California",2009-12-21,1403161,NaN

### 2. Exxon Mobil Corporation, `XOM`

In [79]:
stock = 'XOM'
parents = df.loc[f'{stock}_child',:].str.split('_').apply(lambda x: x[0]).values[:5]
print(f'stocks closest to {stock} are: ')
labels[labels['Symbol'].isin(parents)]

stocks closest to XOM are:

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
103,CVX,Chevron Corp.,reports,Energy,Integrated Oil & Gas,"San Ramon, California",NaN,93410,1879
278,KMI,Kinder Morgan,reports,Energy,Oil & Gas Storage & Transportation,"Houston, Texas",2012-05-25,1506307,NaN
361,OKE,ONEOK,reports,Energy,Oil & Gas Storage & Transportation,"Tulsa, Oklahoma",2010-03-15,1039684,NaN
375,PSX,Phillips 66,reports,Energy,Oil & Gas Refining & Marketing,"Houston, Texas",2012-05-01,1534701,NaN
412,SLB,Schlumberger Ltd.,reports,Energy,Oil & Gas Equipment & Services,"CuraÃ§ao, Kingdom of the Netherlands",1965-03-31,87347,1926

### 3. Lockheed Martin Corporation, `LMT`

In [80]:
stock = 'LMT'
parents = df.loc[f'{stock}_child',:].str.split('_').apply(lambda x: x[0]).values[:5]
print(f'stocks closest to {stock} are: ')
labels[labels['Symbol'].isin(parents)]

stocks closest to LMT are:

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
211,GD,General Dynamics,reports,Industrials,Aerospace & Defense,"Falls Church, Virginia",NaN,40533,1899
284,LHX,L3Harris Technologies,reports,Industrials,Aerospace & Defense,"Melbourne, Florida",NaN,202058,NaN
350,NOC,Northrop Grumman,reports,Industrials,Aerospace & Defense,"West Falls Church, Virginia",1985-06-30,1133421,NaN
396,RTN,Raytheon Co.,reports,Industrials,Aerospace & Defense,"Waltham, Massachusetts",NaN,1047122,1922
462,UTX,United Technologies,reports,Industrials,Aerospace & Defense,"Hartford, Connecticut",NaN,101829,NaN

### 4. Bank of America, `BAC`

In [82]:
stock = 'BAC'
parents = df.loc[f'{stock}_child',:].str.split('_').apply(lambda x: x[0]).values[:5]
print(f'stocks closest to {stock} are: ')
labels[labels['Symbol'].isin(parents)]

stocks closest to BAC are:

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
112,C,Citigroup Inc.,reports,Financials,Diversified Banks,"New York, New York",1988-05-31,831001,NaN
219,GS,Goldman Sachs Group,reports,Financials,Investment Banking & Brokerage,"New York, New York",2002-07-22,886982,NaN
270,JPM,JPMorgan Chase & Co.,reports,Financials,Diversified Banks,"New York, New York",1975-06-30,19617,NaN
329,MS,Morgan Stanley,reports,Financials,Investment Banking & Brokerage,"New York, New York",NaN,895421,1935
400,RF,Regions Financial Corp.,reports,Financials,Regional Banks,"Birmingham, Alabama",1998-08-28,1281761,NaN

### 5. Walmart, `WMT`

In [86]:
stock = 'WMT'
parents = df.loc[f'{stock}_child',:].str.split('_').apply(lambda x: x[0]).values[:5]
print(f'stocks closest to {stock} are: ')
labels[labels['Symbol'].isin(parents)]

stocks closest to WMT are:

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
132,COST,Costco Wholesale Corp.,reports,Consumer Staples,Hypermarkets & Super Centers,"Issaquah, Washington",1993-10-01,909832,NaN
152,DG,Dollar General,reports,Consumer Discretionary,General Merchandise Stores,"Goodlettsville, Tennessee",2012-12-03,29534,NaN
237,HD,Home Depot,reports,Consumer Discretionary,Home Improvement Retail,"Atlanta, Georgia",1988-03-31,354950,NaN
326,MDLZ,Mondelez International,reports,Consumer Staples,Packaged Foods & Meats,"Deerfield, Illinois",2012-10-02,1103982,NaN
370,PEP,PepsiCo Inc.,reports,Consumer Staples,Soft Drinks,"Purchase, New York",NaN,77476,1898

### 6. Advanced Micro Devices, Inc., `AMD`

In [91]:
stock = 'AMD'
parents = df.loc[f'{stock}_child',:].str.split('_').apply(lambda x: x[0]).values[:5]
print(f'stocks closest to {stock} are: ')
labels[labels['Symbol'].isin(parents)]

stocks closest to AMD are:

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
49,AMAT,Applied Materials Inc.,reports,Information Technology,Semiconductor Equipment,"Santa Clara, California",1995-03-16,6951,1967
286,LRCX,Lam Research,reports,Information Technology,Semiconductor Equipment,"Fremont, California",2012-06-29,707549,NaN
320,MCHP,Microchip Technology,reports,Information Technology,Semiconductors,"Chandler, Arizona",2007-09-07,827054,NaN
321,MU,Micron Technology,reports,Information Technology,Semiconductors,"Boise, Idaho",1994-09-27,723125,NaN
355,NVDA,Nvidia Corporation,reports,Information Technology,Semiconductors,"Santa Clara, California",2001-11-30,1045810,NaN

### 7. Alliant Energy Corp, `LNT`

In [92]:
stock = 'LNT'
parents = df.loc[f'{stock}_child',:].str.split('_').apply(lambda x: x[0]).values[:5]
print(f'stocks closest to {stock} are: ')
labels[labels['Symbol'].isin(parents)]

stocks closest to LNT are:

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
29,AEE,Ameren Corp,reports,Utilities,Multi-Utilities,"St. Louis, Missouri",1991-09-19,1002910,1902
31,AEP,American Electric Power,reports,Utilities,Electric Utilities,"Columbus, Ohio",NaN,4904,1906
117,CMS,CMS Energy,reports,Utilities,Multi-Utilities,"Jackson, Michigan",1999-05-03,811156,NaN
484,WEC,Wec Energy Group Inc,reports,Utilities,Electric Utilities,"Milwaukee, Wisconsin",2008-10-31,783325,NaN
496,XEL,Xcel Energy Inc,reports,Utilities,Multi-Utilities,"Minneapolis, Minnesota",NaN,72903,1909

### 8. Cigna Corp, `CI`

In [93]:
stock = 'CI'
parents = df.loc[f'{stock}_child',:].str.split('_').apply(lambda x: x[0]).values[:5]
print(f'stocks closest to {stock} are: ')
labels[labels['Symbol'].isin(parents)]

stocks closest to CI are:

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
43,ANTM,Anthem,reports,Health Care,Managed Health Care,"Indianapolis, Indiana",2002-07-25,1156039,2014 (1940s)
96,CNC,Centene Corporation,reports,Health Care,Managed Health Care,"St Louis, Missouri",2016-03-30,1071739,NaN
242,HUM,Humana Inc.,reports,Health Care,Managed Health Care,"Louisville, Kentucky",NaN,49071,1961
459,UNH,United Health Group Inc.,reports,Health Care,Managed Health Care,"Minnetonka, Minnesota",1994-07-01,731766,NaN
485,WCG,WellCare,reports,Health Care,Managed Health Care,"Tampa, Florida",1985,1279363,NaN